/*** FONT ***/
$primary: #191919;
$primary-dark: #000000;
$primary-light: #626262;

$white: #fefefe;

$blue: #0195d3;
$blue-light: #24b3f0;
$blue-dark: #0b96d1;

$gray: #aeaeae;
$gray-dark: #7f8e94;
$gray-light: #a3a8aa;
$gray-lightest: #dcdedf;
