@use "../../style/variables.scss" as *;

.LanguageSwitch {
  display: flex;
  gap: 10px;
  color: $primary-dark;

  &__label {
    padding-top: 2px;
    font-weight: 500;
    display: inline-block;
    visibility: hidden;
    width: 1px;
  }

  & .lang-flag {
    font-size: 1.5rem;
  }
}
